


<mat-card class="card-6">
       
    <mat-card-content>
        
                <h2>Sessions</h2>
                <p>This is a list of devices that have logged into your account. Remove those that you do not recognize.</p>
                
        
        <div class="flex first-line1">
            <div><span class="flex-2"><mat-icon><span class="material-icons">
                desktop_windows
                </span></mat-icon></span><span> Bucharest 68.133.163.201</span></div>

            <div><span class="flex-2"> <button class="main" mat-stroked-button >ACTIVE</button></span><span class="flex-2">EU</span> <span class="flex-2"><a href="#">See More <mat-icon><span class="material-icons">
                arrow_forward
                </span></mat-icon></a></span></div>
        </div>
        <mat-divider></mat-divider>
        <div class="flex first-line1">
            <div><span class="flex-2"><mat-icon><span class="material-icons">
                desktop_windows
                </span></mat-icon></span><span> Chrome on macOS</span></div>

            <div><span class="flex-2">US</span> <span class="flex-2"><a href="#">See More <mat-icon><span class="material-icons">
                arrow_forward
                </span></mat-icon></a></span></div>
        </div>
        <mat-divider></mat-divider>
        <div class="flex first-line1">
            <div><span class="flex-2"><mat-icon><span class="material-icons">
                phone_iphone
                </span></mat-icon></span><span> Safari on iPhone</span></div>

            <div><span class="flex-2">US</span> <span class="flex-2"><a href="#">See More <mat-icon><span class="material-icons">
                arrow_forward
                </span></mat-icon></a></span></div>
        </div>
        

 
    </mat-card-content>
  </mat-card> 