<mat-card class="card-4">

    <h3 style="font-weight: 700; font-size: 18px;">Accounts</h3>
    <p style="font-size: 14px;font-weight: 100;">Here you can setup and manage your integration settings</p>

    <div class="main">
        <div class="sub">
           <img src="../../assets/images/logo-slack.7c47c5aa.svg" alt="slack">
           <div class="content"><h2>slack</h2> <p>show less</p></div>
        </div>
        <div class="sub-1">
           <mat-slide-toggle></mat-slide-toggle>
        </div>
       

    </div>
    <p  style="max-width: 100%; margin-left: 30px;padding: 20px; margin-top: 10px;">
        You haven't added your Slack yet or you aren't authorized.Please add our Slack Bot to your account by clicking on here.<br> When you've added the bot, send your verification code that you have received.
    </p>
    <mat-card class="main" style="background: rgb(248, 249, 250);">
        <p style=" color: rgb(123, 128, 154); font-weight:700;font-size:0.875rem">Verification Code</p>
        <button mat-raised-button
        matTooltip="Copy"
        aria-label="Button that displays a tooltip when focused or hovered over">
  1122345
</button>
    </mat-card>
    <mat-card class="main" style="background: rgb(248, 249, 250);">
        <p style=" color: rgb(123, 128, 154); font-weight:700;font-size:0.875rem">Connected account</p>
<div class="sub1"><p>hello@creative-tim.com</p><button mat-raised-button class="btn2">
DELETE
</button></div>
        
    </mat-card>
  
   
    <div class="main">
        <div class="sub">
           <img src="../../assets/images/logo-spotify.e83cf56c.svg" alt="slack">
           <div class="content"><h2>Spotify</h2> <p>Music</p></div>
        </div>
        <div class="sub-1">
            <span style="margin-right: 15px;">Enabled</span>   <mat-slide-toggle></mat-slide-toggle>
        </div>
       

    </div>
    <mat-divider></mat-divider>
    <div class="main">
        <div class="sub">
           <img src="../../assets/images/logo-atlassian.f2b0e857.svg" alt="slack">
           <div class="content"><h2>Atlassian</h2> <p>Payment vendor</p></div>
        </div>
        <div class="sub-1">
            <span style="margin-right: 15px;">Enabled</span><mat-slide-toggle></mat-slide-toggle>
        </div>
       

    </div>
    <mat-divider></mat-divider>
    <div class="main">
        <div class="sub">
           <img src="../../assets/images/logo-asana.d758f410.svg" alt="slack">
           <div class="content"><h2>Asana</h2> <p>Organize your team</p></div>
        </div>
        <div class="sub-1">
            <span style="margin-right: 15px;">Disabled</span> <mat-slide-toggle></mat-slide-toggle>
        </div>
       

    </div>
</mat-card>
