


<mat-card class="card-2">
       
        <mat-card-content>
            <h2>Basic Info</h2>
      <form [formGroup]="loginForm">
            <div class="inline">
              <mat-form-field appearance="legacy">
                <mat-label>first name</mat-label>
                <input formControlName="username" matInput />
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>last name</mat-label>
                <input formControlName="username" matInput />
              </mat-form-field>
            </div>
            <div class="inline">
              <mat-form-field class="cc" appearance="legacy">
                <mat-label>I'm</mat-label>
                <mat-select formControlName="cc">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                 
                </mat-select>
              </mat-form-field>
              <mat-form-field class="cc" appearance="legacy">
                <mat-label>Birth Date</mat-label>
                <mat-select formControlName="cc">
                  <mat-option value="jan">jan</mat-option>
                  <mat-option value="Fab">Fab</mat-option>
                  <mat-option value="March">March</mat-option>
                  <mat-option value="April">April</mat-option>
                  <mat-option value="jan">jan</mat-option>
                  <mat-option value="jan">jan</mat-option>
                  <mat-option value="jan">jan</mat-option>
                  <mat-option value="jan">jan</mat-option>
                  <mat-option value="jan">jan</mat-option>
                  <mat-option value="jan">jan</mat-option>
                  <mat-option value="jan">jan</mat-option>
                  <mat-option value="jan">jan</mat-option>
                 
                </mat-select>
              </mat-form-field>
              <mat-form-field class="cc" appearance="legacy">
               
                <mat-select formControlName="cc">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                  <mat-option value="6">6</mat-option>
                  <mat-option value="7">7</mat-option>
                  <mat-option value="8">8</mat-option>
                  
                 
                </mat-select>
              </mat-form-field>
              <mat-form-field class="cc" appearance="legacy">
              
                <mat-select formControlName="cc">
                  <mat-option value="+91">1995</mat-option>
                  <mat-option value="1995">1995</mat-option>
                      <mat-option value="1996">1996</mat-option>
                      <mat-option value="1995">1995</mat-option>
                      <mat-option value="1996">1996</mat-option>
                      <mat-option value="1995">1995</mat-option>
                      <mat-option value="1996">1996</mat-option>
                 
                </mat-select>
              </mat-form-field>
            </div>
         
            <div class="inline">
              <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput />
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Confirmation Email</mat-label>
                <input formControlName="C email" matInput />
              </mat-form-field>
            </div>
             
              <div class="inline">
                <mat-form-field appearance="legacy">
                  <mat-label>Your Location</mat-label>
                  <input formControlName="location" matInput />
                </mat-form-field>
                 
                
    
                  <mat-form-field appearance="legacy">
                    <mat-label>Phone</mat-label>
                    <input formControlName="phone" matInput />
                  </mat-form-field>
                 
              </div>
      <div class="inline">
        <mat-form-field appearance="legacy">
          <mat-label>Phone</mat-label>
          <input formControlName="phone" matInput />
        </mat-form-field>
        <mat-form-field appearance="legacy">
          
          <mat-select formControlName="memberType">
            <mat-option value="React"> React</mat-option>
            <mat-option value="Angular">Angular</mat-option>
            <mat-option value="Vue"> Vue</mat-option>
            <mat-option value="Javascript">Javascript</mat-option>
           
          </mat-select>
        </mat-form-field>

      </div>

          </form>
        </mat-card-content>
      </mat-card> 