<mat-card class="card-7">
  <h2>Delete Account</h2>
  <div class="flex">
    <div>
      <p style="max-width: 320px">
        Once you delete your account, there is no going back. Please be certain.
      </p>
    </div>
    <div class="flex-2">
      <div><button class="main" mat-stroked-button>DEACTIVATE</button></div>
      <div>
        <button
          mat-raised-button
          style="
            padding: 12px 25px;
            background-image: linear-gradient(
              195deg,
              rgb(239, 83, 80),
              rgb(229, 57, 53)
            );
            color: white;
            border-radius: 12px;
          "
        >
          DELETE ACCOUNT
        </button>
      </div>
    </div>
  </div>
</mat-card>
