


<mat-card class="card-4">
       
    <mat-card-content>
        <div class="flex">
                <h2>Two-factor authentication</h2>
                <button class="main" mat-stroked-button >Enabled</button>
        </div>
        <div class="flex first-line1">
            <h4>Security keys</h4>
            <div><span class="flex-2">Security keys</span><span> <button mat-stroked-button >ADD</button></span></div>
        </div>
        <mat-divider></mat-divider>
        <div class="flex first-line1">
                    <h4>SMS number</h4>
                <div><span class="flex-2">+3012374423</span><span> <button mat-stroked-button >EDIT</button></span></div>
        </div>
        
        <mat-divider></mat-divider>
        <div class="flex first-line1">
                <h4>Authenticator app</h4>
            <div><span class="flex-2">Not Configured</span><span> <button mat-stroked-button >SET UP</button></span></div>
        </div>
        

 
    </mat-card-content>
  </mat-card> 